<div class="page-title subtitle brothers-view-subtitle">
    <h1>Brother Duties Info</h1>
</div>

<div class="add-view-duties">
    <button class="btn btn-large view-changes hidden">View Changes</button>
    <button class="btn btn-large manage-duties">Manage Duties</button>
    <!-- <button class="btn btn-large">Confirm Duties</button>
    <button class="btn btn-large">Send Updates</button> -->
</div>

<div class="brothers-view">
    <% for (let i = 0; i < brothers.length; i++) { %>
        <div class="class">
            <h2><%= classes[i].className %> Class</h2>
            <div class="sort">
                <p>Sort By</p>
                
                <div class="input-field col s12">
                    <select class="sort-class">
                        <option value="name">Name</option>
                        <option value="credits">Credits</option>
                    </select>
                </div>
            </div>

            <table class="class-table" class-id="<%= classes[i]._id %>">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let j = 0; j < brothers[i].length; j++) { 
                        let brother = brothers[i][j]
                        let exempt = !brother.duty_exempt || brother.duty_exempt === "undefined" ? false : true
                    %>
                        <tr brother-id="<%= brother._id %>" duty-exempt="<%= exempt %>">
                            <td class="name"><%= brother.full_name %></td>
                            <td class="credits"></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>