<%- include ('../../partials/exec/header') %>

<div id="duty-type" duty-type="<%= duty_type %>"></div>

<div class="container">
    <div id="page-start" class="page-title main-title">
        <h1>Duties Master Page</h1>
    </div>

    <%- include ('./brothers_view') %>

    <%- include ('./calendar_view') %>
</div>

<%- include ('../../partials/exec/footer') %>